/**
 * CONTENTS
 *
 * SETTINGS
 * root.................Globally-available css variables.
 *
 * GENERIC
 * *....................Better default `box-sizing`, margin reset, padding reset.
 *
 * MIXIN
 *
 * COMPONENTS
 * Elements.............Default styles for HTML elements used in all pages
 * Containers...........Wrapping and constraining elements.
 * Misc.................Other spesific stylings used in multiple pages.
 *
 * SITES
 * Index................Spesific styles for said page
 * Intro To Table... ...Spesific styles for said page
 * Regular Training.....Spesific styles for said page
 * Social Gatherings....Spesific styles for said page
 * Contact..............Spesific styles for said page
 *
 * Media queries........Mobile optimizing - placed lower for higher priority
 */





/*------------------------------------*\
  *
  * SETIINGS
  *
\*------------------------------------*/





:root {
  --red: #A8000F;
  --darkred: #8A000E;
  --lightgray: #E5E5E5;
  --lightergray: #F0F0F0;
  --transparentlightgray: rgba(255, 158, 158, 0.2);
  --darkgray: #828387;
  --darkergray: #626367;
  --white: #FEFEFE;
  --black: #111;
  --logoFilter: "";
}





/*------------------------------------*\
  *
  * GENERIC
  *
\*------------------------------------*/





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*------------------------------------*\
  *
  * MIXIN
  *
\*------------------------------------*/




/* Prevent text from being highlighted when users mark it */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* Put get numbers to the right */
.num {
    text-align: right;
}


/* Center text */
.center {
    text-align: center;
}



.subText {
    opacity: 0.5;
}





/*------------------------------------*\
  *
  * COMPONENTS
  *
\*------------------------------------*/





body {
    background-color: var(--white);
    font-family: 'Lato', Arial;
    overflow-x: hidden;
    font-size: 16px;
    color: var(--black);
}



/* Filter div for darkening the background */
.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6)
}



nav {
    user-select: none;
    height: 60px;
    width: 100%;
    font-size: 1.2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav *::selection {
    background-color: rgba(0, 0, 0, 0);
    color: var(--black);
}

nav a {
    color: var(--black);
    text-decoration: none;
    transition: color .1s;
    width: fit-content;
}

/* Line that expands on hover */
nav #dropdown a:after {
    content: '';
    display: block;
    width: 100%;
    transform: scaleX(0);
    transform-origin:  0% 50%;
    transition: transform .1s ease-in;
    border-bottom: 2px solid var(--red);
}

nav #dropdown a:hover:after {
    transform: scaleX(1);
}


nav #dropdown a.active:after {
    border-bottom: 2px solid var(--black);
    transform: scaleX(1);
}

nav #dropdown a.active:hover:after {
    border-color: var(--red);
}

nav > * {
    background-color: var(--white)
}

nav div {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
}

nav div:hover {
    background-color: var(--white);
}

#dd-menu {
    z-index: 3;
    cursor: pointer;
}

#dropdown {
    z-index: 2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    right: 0;
    position: fixed;
    top: 60px;
    padding: 1em;
    flex-flow: column nowrap;
    background-color: var(--white);
    justify-content: flex-start;
}

#dropdown a {
    display: block;
    line-height: 2em;
    width: 100%;
}

nav img {
    height: 2em;
    width: auto;
    filter: var(--logoFilter)
}



main {
    min-height: calc(100vh - 60px);
}




.width {
    padding: 2em 0em;
    max-width: 1000px;
    width: calc(100% - 6em);
    margin: auto;
}


.module {
    width: 100%;
    margin-bottom: 4em;
}



.split {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
}

.split > div {
    width: 50%;
    padding: 1em;
}



footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 3em 0 0;
    line-height: 2.5em;
    font-size: .9em;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-flow: column nowrap;
}

footer a {
    color: var(--white);
    display: block;
}

footer .split div:last-child {
    text-align: right;
}



button {
    background-color: var(--red);
    padding: .8em 2em;
    border-radius: 0px;
    border: 0px solid var(--darkgray);
    color: var(--white);
    font-size: 1.2em;
    margin: auto;
    display: block;
    margin-top: 1em;
    cursor: pointer;
}



#darkModeBtn {
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    height: auto;
    font-size: 3em;
    padding: 0;
}



h1 {
    font-size: 2.4em;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 2.5em;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
}



p {
    margin-bottom: 1em;
}



a {
    color: var(--red);
}



table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    background-color: var(--darkgray);
    color: var(--white);
}

table th, table td {
    padding: .6em;
    text-align: left;
    cursor: default;
}



.redbg {
    background-color: var(--red);
    color: white;
    padding: 1em;
    box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.3);
}



.module img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    background-color: var(--darkgray);
    filter: brightness(0.5);
}




/*------------------------------------*\
  *
  * PAGES
  *
\*------------------------------------*/





/*------------------------------------*\
  INDEX
\*------------------------------------*/

#gallery {
    position: relative;
    padding: calc((100vw * (9/16)) * (1/3)) 0 4em 0;
    margin-top: -60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;
    z-index: 1;
    background-size: cover;
    background-color: var(--lightgray);
    transition: background-image 1s ease-in-out;
    /* max-height: 85vh; */
}

#gallery * {
    z-index: 5;
}

#gallery h1 {
    margin-bottom: calc((100vw * (9/16)) * (1/4));
    color: var(--white);
    color: #fefefe;
}

.flyer {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.flyer p {
    margin-bottom: .5em;
    font-size: 1.5em;
    position: relative;
}

.flyer p::before, .flyer p::after{
    content: " ";
    width: 30px;
    height: 30px;
    filter: none;
    background-color: transparent;
    box-shadow: none;
    background-size: contain;
    margin-top: -5px;
    position: absolute;
    top: 16px;
    z-index: -1;
    display: inline-block;
}

.flyer .p-left {
    color: var(--red);
}

.flyer .p-left::before {
    background-image: url("../../bordtennis/media/favicon.png");
    left: -32px;
}

.flyer .p-right {
    color: var(--black);
    text-align: right;
}

.flyer .p-right::after {
    background-image: url("../../bordtennis/media/favicon.png");
    filter: grayscale(1);
    transform: scaleX(-1);
    right: -32px;
}

#scoreboard tbody tr:nth-child(2n) {
    background-color: var(--lightergray);
}

#scoreboard tbody tr:hover {
    background-color: var(--transparentlightgray);
}


#scoreboard th {
    background-color: var(--red);
}





/*------------------------------------*\
  Intro to table tennis
\*------------------------------------*/

.intro-pic {
    border-radius: 5px;
}



.module .split div img {
    margin: -1em;
    width: calc(100% + 2em);
    height: calc(100% + 2em);
    object-fit: cover;
}



.intro-paragraph {
    line-height: 1.5;
}



/*------------------------------------*\
  Social Gatherings
\*------------------------------------*/

.year-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
}

#currentYear {
    cursor: default;
}

#previousYear, #nextYear {
    cursor: pointer;
    font-size: 1.2em;
}

#previousYear:hover, #nextYear:hover {
    color: var(--red);
}



.carouselFeelFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.adjacentYears {
    height: auto;
    width: 5%;
    margin: 2em 0;
    background-color: var(--darkred);
    box-shadow: 6px 0 15px -4px var(--darkgray), -6px 0 15px -4px var(--darkgray);
}

.adjacentYears#next {
    right: 0;
}

.adjacentYears#prev {
    left: 0;
}

.width#notice {
    box-shadow: none;
}

.width#notice p {
    margin: 0;
}



.carouselFeelFlex div.width {
    margin: 0 1em;
}

.collapsible {
    margin: 0 auto;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    padding: 1.2em 2em;
    width: 100%;
    font-family: 'Lato';
    text-align: left;
    outline: var(--black);
    font-size: 1.1em;
    transition: 0.1s ease-out;
    z-index: 4;
}

.collapsible:after {
    font-family: "Material Icons";
    font-size: 1.2em;
    content: "keyboard_arrow_down";
    color: white;
    float: right;
    margin-left: 5px;
    transition: transform .2s ease-out;
}

.collapsible-active:after {
    transform: rotateX(180deg)
}

.collapsible-active, .collapsible:hover {
    background-color: var(--darkred);
}

.collapsible-content {
    overflow: hidden;
    max-height: 0;
    transition: all .1s ease-out;
}

.social-gatherings-gallery-container .module {
    margin-bottom: 0;
}

.social-gatherings-gallery-container .module .split div {
    padding: 2em;
    line-height: 1.5;
}

.social-gatherings-gallery-container .module .split div table tr td:nth-child(2) {
    text-align: center;
}

.social-gatherings-gallery-container .module .split div table tr td:last-child {
    text-align: right;
}

.social-gatherings-gallery-container .social-gatherings-date {
    opacity: 0.5;
    font-size: 1em;
}

.social-gatherings-gallery-container h3 {
    font-size: 1.8em;
    padding: .3em 0 .8em 0;
}

.social-gatherings-gallery-container p {
    font-size: 1.1em;
}

.social-gatherings-gallery-container .img-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    object-fit: cover;
    overflow-x: auto;
}

.social-gatherings-gallery-container img {
    width: auto;
    max-width: 350px;
    max-height: 350px;
}

.social-gatherings-gallery-container .social-gatherings-gallery {
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.3);
}




/*------------------------------------*\
  Reglar training
\*------------------------------------*/

.calendarDiv {
    margin: auto;
}

#calendar {
    table-layout: fixed;
    border: 1px solid var(--black);
    padding: 3px;
}

#calendar th {
    overflow: hidden;
    border: 1px solid black;
    background-color: var(--red);
    color: var(--white);
    color: white;
    text-align: center;
    padding: 0.2em 0.6em;
}

#calendar td {
    overflow: hidden;
    vertical-align: top;
    border: 1px solid var(--darkgray);
    padding: 0;
}



.calendarDate {
    height: calc((100vw - 6em)/7);
    max-height: calc(1000px/7);
    border: 1px solid transparent;
    transition: border-color .7s ease;
}

.calendarDate:hover {
    transition: border-color .3s ease;
    border: 1px solid var(--black);
}

.calendarNum {
    opacity: .7;
    font-size: .7em;
    margin-left: .5em;
}

.calendarEvent {
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: .3em 0;
    padding: .5em 0;
    width: calc(100% + 2px);
    margin-left: -1px;
    overflow: hidden;
}

#modalbg.darken {
    position: fixed;
}

#modal {
    position: fixed;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 5;
    max-width: calc(100vw - 4em);
}

#modal .split button {
    margin: 2px;
}

.triple {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.triple * {
    display: inline-block;
}

.triple h1 {
    z-index: 1;
    margin: 0;
    width: 50%;
}

.triple button {
    z-index: 2;
    margin: 0;
    color: var(--black);
    background-color: var(--white);
    border-radius: 50%;
    padding: 1em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

}



/*------------------------------------*\
  Contact
\*------------------------------------*/

form {
    display: flex;
    width: 80%;
    margin: auto;
    flex-flow: column nowrap;
}

form h2 {
    margin: -.9em 0 1em 0;
    text-align: left;
}

form label {
    margin-top: 1em;
    display: block;
    width: 100%;
}

form label input, form label textarea, form label select {
    display: block;
    width: 100%;
    margin: .2em 0 0;
    resize: vertical;
    max-height: 500px;
    min-height: 2.5em;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    font-family: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='text']:valid, input[type='email']:valid, input[type='tel']:valid, select:valid, textarea:valid {
    border-color: green;
}

form .split {
    justify-content: space-between;
}

form .split div {
    width: calc(100% / 2 - .4em);
    padding: 0px;
}

form button {
    margin: 1em 0 -1em;
    align-self: flex-start;
}

.person {
    box-sizing: border-box;
    width: 100%;
    max-width: 370px;
}

.person h1 {
    margin: .5em;
}

.person h3 {
    margin-top: 1em;
}

.module .width .split .person img {
    margin: 0;
    width: 100%;
    height: auto;
    filter: none;
}


/*------------------------------------*\
  Media queries
\*------------------------------------*/


@media only screen and (max-width: 800px) {
    .width .width {
        width: calc(100% - 2em);
        padding-bottom: 0;
    }

    form {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .width {
        width: calc(100% - 2em);
    }
    #calendar td {
        height: calc((100% - 2em)/7);
    }
    .calendarDate {
        height: auto;
        min-height: 60px;
        max-height: auto;
    }
    .big-only {
        display: none;
    }
    .split {
        flex-flow: column nowrap;
    }
    .split.reverse {
        flex-flow: column-reverse nowrap;
    }
    .split div {
        width: 100%;
        padding: 1em;
    }

    .width .width {
        width: 100%;
    }

    .formsplit img {
        max-height: 250px;
    }

    form {
        margin-top: 2em;
    }

    form .split {
        flex-flow: row;
        padding: 0;
    }
    .split .person {
        max-width: 100%;
    }
    .year-controls .material-icons {
        font-size: 3em;
    }

    .social-gatherings-gallery-container img {
        max-width: 100%;
        max-height: 100vh;
        margin: 0;
    }
    .flyer {
        padding: 0 3em;
    }
}
