:root {
  --red: #A8000F;
  --lightgray: #E5E5E5;
  --darkgray: #828387;
  --white: #FEFEFE;
  --black: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: 'Lato', Arial;
    overflow-x: hidden;
    font-size: 16px;
    color: var(--black);
}

nav {
    height: 60px;
    width: 100%;
    font-size: 1.2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* background-color: rgba(255, 255, 255, 0.2); */
    position: sticky;
    top: 0;
}

nav *::selection {
    background-color: rgba(0, 0, 0, 0);
    color: var(--black);
}

nav a {
    color: var(--black);
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
}

nav div {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
}

nav div:hover {
    background-color: var(--white);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); */
}

main {
    min-height: calc(100vh - 60px);
}

.width {
    padding: 2em 0em;
    /* max-width: 800px; */
    max-width: 1000px;
    width: calc(100vw - 6em);
    margin: auto;
}

footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    /* height: 6em; */
    padding: 3em 0 0;
    line-height: 2.5em;
    font-size: .9em;
    /* padding: 1em; */
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-flow: column nowrap;
}

footer a {
    color: var(--white);
    display: block;
}

footer .split div:last-child {
    text-align: right;
}

#dd-menu {
    z-index: 2;
    cursor: pointer;
}

#dropdown {
    z-index: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    right: 0;
    position: fixed;
    top: 60px;
    padding: 1em;
    flex-flow: column nowrap;
    background-color: var(--white);
    justify-content: flex-start;
    /* border: 1px solid black; */
}

#dropdown a {
    display: block;
    line-height: 2em;
    /* text-align: right; */
    width: 100%;
}

h1 {
    font-size: 2.4em;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 2.5em;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

#gallery {
    /* max-width: 800px;
    width: calc(100vw - 6em); */
    /* width: 100vw; */
    /* position: relative; */
    /* left: ; */
    /* margin-left: calc(-3em); */
    /* margin-bottom: 2em; */
    background-color: var(--darkgray);
    /* height: calc(100vw * (9/16) - 300px); */
    padding: calc((100vw * (9/16)) * (1/3)) 0 4em 0;
    margin-top: -60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;

    background-image: url("../../bordtennis/media/home-images/man1.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: var(--lightgray);
    background-position: top;
}

#gallery h1 {
    margin-bottom: calc((100vw * (9/16)) * (1/4));
    color: var(--white)
}

.module {
    width: 100%;
    margin-bottom: 4em;
}

.split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
}

.split div {
    width: 50%;
    /* max-width: calc(50% - 1em); */
    padding: 1em;
}

button {
    background-color: var(--red);
    padding: .8em 2em;
    border-radius: 0px;
    border: 0px solid var(--darkgray);
    color: var(--white);
    font-size: 1.2em;
    margin: auto;
    display: block;
    margin-top: 1em;
}

p {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--black);
    width: 100%;
}

table th {
    background-color: var(--darkgray);
    color: var(--white);
}

table th, table td {
    padding: .6em;
    text-align: left;
    /* border: 1px solid var(--black); */
}

#scoreboard tbody tr:hover {
    background-color: rgba(1, 1, 1, 0.2);
}

.num {
    text-align: right;
}

.center {
    text-align: center;
}

.module img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 100%;
    background-color: var(--darkgray);
    filter: brightness(0.5);
}

nav img {
    height: 2em;
    width: auto;
}

.redbg {
    background-color: var(--red);
    color: var(--white);
    padding: 1em;
    box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.3);
}



/* Social gatherings */
.collapsible {
    margin: 0 auto;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.2s ease-out;
    z-index: 3;
}
.collapsible:after {
    content: '\002B';
    color: white;
    float: right;
    margin-left: 5px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.active:after {
    content: "\2212";
}

.collapsible-content {
    padding: 18px 18px;
    overflow: hidden;
    box-shadow: 0px 0 6px gray;
}
.display-none {
    display: none;
}

.calendarDay {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.calendarEvent {
    margin: 3px;
}
