* {
    box-sizing: border-box;
}

body {
    margin: 10%;
    background-color: #fefefe;
    font-family: 'Lato', Arial;
    max-width: 900px;
}

.sub_text {
    list-style: none;
    list-style-position: unset;
    margin: 16px 0;
}


@media only screen and (max-width: 900px) {
    body {
        margin: auto 10%;
    }
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

img {
    border: 1px solid black;
}
